{%if errorList%}
    {%for line in errorList%}
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>错误!</strong>{{line.error}}
        </div>
    {%endfor%}
{%endif%}
<form id="reset-password-form" action="/settings/reset_password/" role="form" method="post">
    {% csrf_token %}

    <div class="form-group">
         <label for="username">用户名</label>
         <input type="text" class="form-control input-required" id="username" name="username"  autofocus >
    </div>
    <div class="form-group">
         <label for="new_password">新密码</label>
         <input type="password" class="form-control input-required" id="new_password" name="new_password"   >
     </div>
    <div class="form-group">
         <label for="confirm_password">确认密码</label>
         <input type="password" class="form-control input-required" id="confirm_password" name="confirm_password"    >
     </div>
    <button class="btn btn-lg btn-primary " id="reset-password-submit" type="submit">确认修改</button>
    <a href="/settings/index/" type="button" class="btn btn-lg btn-danger">取消修改</a>

</form>