{%extends 'base/base.html' %}
{% load staticfiles %}
{%block mainblock%}

<div class="jumbotron" id="index-jumbotron" >
    <div class="row">
        <div class="col-md-8">
            <img src="{% static 'base/images/index.png' %}" alt="部门研发流程">
        </div>
        <div class="col-md-4 ">
            <div class="title-core">


                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title-style">
                        <div class="float-left"><h3 class="panel-title" >绩效考核</h3></div>
                        <div class="float-right"><a href="/performance/index/">进入>></a></div>
                        </div>
                    </div>

                </div>
                 <br>
                <p>首次登录，请及时修改密码，点击右上角 <strong>{{user.username}}</strong>进入 <strong>设置</strong>界面，点击 <strong>修改密码</strong>进行相关操作，或者直接
                    点击<a href="/settings/change_password/">立即设置</a>进行修改</p>
            </div>
        </div>
    </div>

</div>
<!--{#左右布局,左边占用#}-->
<!--<div class="content-middle">-->
    <!--<div class="row">-->
        <!--<div class="col-md-9 left-block">-->
            <!--{#绩效考核#}-->
            <!--<div class="col-md-6 main-block">-->
                <!--<div class="panel panel-success">-->
                    <!--<div class="panel-heading">-->
                        <!--<div class="panel-title-style">-->
                        <!--<div class="float-left"><h3 class="panel-title" >绩效考核</h3></div>-->
                        <!--<div class="float-right"><a href="/performance/index/">进入>></a></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="panel-body"></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--{#职业规划#}-->
            <!--<div class="col-md-6 main-block">-->
                <!--<div class="panel panel-success">-->
                    <!--<div class="panel-heading">-->
                        <!--<div class="panel-title-style">-->
                        <!--<div class="float-left"><h3 class="panel-title" >职业规划</h3></div>-->
                        <!--<div class="float-right"><a href="/career/index/">进入>></a></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="panel-body"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3 right-block" >-->
            <!--<div class="col-md-12 right-main-block">-->
                <!--<div class="panel panel-info">-->
                    <!--<div class="panel-heading">-->
                        <!--<div class="panel-title-style">-->
                        <!--<div class="float-left"><h3 class="panel-title" >部门风采</h3></div>-->
                        <!--<div class="float-right"><a href="#">进入>></a></div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="panel-body"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

{%endblock%}