
{%if error%}
<div class="alert alert-danger alert-dismissible" role="alert" xmlns="http://www.w3.org/1999/html">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>错误!</strong>{{error}}
</div>
{%endif%}
<form id="performance-form" action="/performance/post/" role="form" method="post">
    {% csrf_token %}
    <table class="table table-hover table-condensed table-striped table-bordered">
    {%for detail in performance_details%}
        <thead>
            <tr>
                <th>考核维度</th>
                <th>考核项</th>
                <th>评价内容</th>
                <th>关键字</th>
                {%for title in detail.title_list%}
                   <th>{{title}}</th>
                {%endfor%}

                <th>得分</th>
            </tr>
        </thead>
        <tbody>

            {%for assessment_line in detail.assessment_line_list%}
                 <tr>
                     {%if forloop.first%}
                        <th rowspan="{{detail.table_rowspan}}">{{detail.name}}</th>
                     {%endif%}
                     <th>{{assessment_line.name}}</th>
                     <td>{{assessment_line.prompt}}</td>
                     <td>{{assessment_line.key_word}}</td>
                    {%for line_name in assessment_line.detail_list%}
                        <td>{{line_name}}</td>
                    {%endfor%}
                     <td>
                         <input type="text" data-percent={{assessment_line.percent}} value="{{assessment_line.value}}" name="{{assessment_line.record_id}}" class="form-assessment-line" id="{{assessment_line.record_id}}" required>
                     </td>
                 </tr>
            {%endfor%}

        </tbody>
    {% empty %}
    <h1 class="text-center">该项没有数据</h1>
    {%endfor%}
    </table>


    {%if performance_details %}
    <label><input name="not_done" type="checkbox" value="1" checked id="performance-save-checkbox" />暂时保存 </label>
    <br/>
    <button class="btn btn-primary" type="submit" id="submit-performance">提交保存</button>
    {%endif%}
</form>
